.network_card {
  padding: 1.2rem;
}

.network_title {
  color: #ebedf5;
  font-size: 6.4rem;
  position: relative;
  font-weight: 900;
}

.network_sub_title {
  color: #a3a3a3;
  position: relative;
  top: -70px;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 0.4rem;
}

.network_questions_container {
  display: flex;
  align-items: center;
}

.network_image {
  width: 2rem;
}

.network_questions {
  color: rgb(52, 167, 224);
  padding: 1rem;
  cursor: pointer;
}
